.large-hero{
  background: linear-gradient(rgba(#000, .75), rgba(#000, .75)),
  url("/assets/images/large-hero.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  color: white;
  background-attachment: fixed;
  background-position: bottom;




  & h1 {
    font-size: 1.5rem;

    @mixin atSmall{
      font-size: 2rem;

    }
    @mixin atMedium{
      font-size: 3rem;
    }


  }

  &__content{
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(-21%, -50%);
    /*text-align: center;
    @mixin atSmall{
      top: 50%;
      top: 50%;
      left: 0;
      transform:translate(0, -50%);
      text-align: left;
    }*/




  }



}
